[submodule "dotfiles/zshrc/antigen"]
	path = dotfiles/zshrc/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "src/applications/Dropbox-Uploader"]
	path = src/applications/Dropbox-Uploader
	url = https://github.com/brycekbargar/Dropbox-Uploader.git
