[core]
    pager = delta

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[diff]
    colorMoved = default

[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false

[alias]
    # Todos las Cosas!
    todos = !git status && echo && git loog
    fuck = !git add -A && git commit --amend --no-edit
    sorry = !git add -A && git rebase --continue
	# I can never type this correctly
    checokut = checkout
