# bryces-dotfiles-gitconfig
[core]

[push]
    default = simple
[alias]
    # Todos las Cosas!
    todos = !git status && echo && git loog
    fuck = !git add -A && git commit --amend --no-edit
    sorry = !git add -A && git rebase --continue
    checokut = checkout
[color "status"]
    added = "#00ff5f"
    changed = "#ff5faf"
    untracked = "#ff5faf"
[color "diff"]
    new = "#00ff5f"
    old = "#ff5faf"
