# bryces-dotfiles-gitconfig
[core]

[push]
    default = simple
[alias]
    # Todos las Cosas!
    todos = !git status && echo && git log --graph --oneline --decorate -n 20
    m2m = !git m2 master
    m2d = !git m2 $1 -d
    m2md = !git m2 master -d
    fuck = !git add -A && git commit --amend --no-edit
    looog = git log --graph --oneline --decorate -n 50
    
