# bryces-dotfiles-gitconfig
[core]

[push]
    default = simple
[alias]
    # Todos las Cosas!
    todos = !git status && echo && git loog
    m2m = !git m2 master
    m2d = !git m2 $1 -d
    m2md = !git m2 master -d
    fuck = !git add -A && git commit --amend --no-edit
    sorry = !git add -A && git rebase --continue
    looog = !git loog 50
[color "status"]
    added = "#00ff5f"
    changed = "#ff5faf"
    untracked = "#ff5faf"
[color "diff"]
    new = "#00ff5f"
    old = "#ff5faf"
